.login-content {
    background: var(--background-color);
    overflow: auto;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;

    padding: 100px var(--side-padding);

    .login__form-item {
        .danger-text {
            display: none;
        }
    }

    .login__form {
        display: flex;
        flex-direction: column;
        gap: 24px;

        max-width: 450px;
        width: 100%;
    }

    .login__buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 16px;
    }

    .login__form-item--invalid {
        .danger-text {
            display: block;
        }
    }

    .login__form-card {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}