.registration-content {
    background: var(--background-color);
}

.registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;

    height: 100%;

    padding: 32px var(--side-padding);

    .registration__form-item {
        .danger-text {
            display: none;
        }
    }

    .registration__form {
        display: flex;
        flex-direction: column;
        gap: 24px;

        max-width: 450px;
        width: 100%;
    }

    .registration__buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 16px;
    }

    .form-item--invalid {
        .danger-text {
            display: block;
        }
    }

    .registration__form-card {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}