* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;

    --primary-color: #042967;
    --secondary-color: #ACE9F8;
    --background-color: #F8FCFF;
    --danger-red: #CD2929;
}

header {
    height: 100px;
    background-color: var(--background-color);

    display: flex;
    align-items: center;
    justify-content: space-between;
}