* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Space Grotesk", sans-serif;
    line-height: 1.6;

    --primary-color: #042967;
    --primary-color-hover: #0A3467;
    --secondary-color: #ACE9F8;
    --background-color: #F8FCFF;
    --danger-red: #CD2929;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li {
    list-style: none;
}

.button {
    background-color: var(--primary-color);
    color: var(--background-color);
    font-size: 24px;
    cursor: pointer;

    display: flex;
    width: max-content;
    padding: 12px 16px;
    border-radius: 16px;

    &:hover {
        background-color: var(--primary-color-hover);
    }

    transition: background-color 0.2s ease;
}

.gost-button {
    color: var(--primary-color);
    font-size: 24px;
    cursor: pointer;

    &:hover {
        color: var(--primary-color-hover);
    }

    transition: color 0.2s ease;
}

.header {
    z-index: 2;
    position: fixed;
    top: 0;
    height: 100px;
    width: 100vw;
    background-color: var(--background-color);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 18px 80px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
}

.navigation {
    .navigation__buttons {
        display: flex;
        gap: 24px;
    }
}

.authorization-menu {
    display: flex;
    align-items: center;
    gap: 12px;
}

.content {
    background-color: var(--background-color);

    height: calc(100vh);
}

.home {
    z-index: 1;
    position: relative;
    height: 100%;
    padding: 200px 80px 0 80px;
    overflow: hidden;
    background: linear-gradient(180deg, var(--secondary-color) 10%, var(--background-color) 100%);

    .home__diamond-lines {
        position: absolute;
        bottom: 0;
        right: -50px;
    }
}

.footer {
    height: 76px;
    background-color: var(--background-color);

    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding: 18px 80px;
}

.social-media-links {
    display: flex;
    align-items: center;
    gap: 16px;
}

.introduction-text {
    display: flex;
    flex-direction: column;
    gap: 24px;

    color: var(--primary-color);

    .introduction-text__title {
        width: 800px;
        font-size: 56px;
        font-weight: 700;
        letter-spacing: -0.05em;
    }

    .introduction-text__description {
        width: 650px;
        font-size: 32px;
        font-weight: 500;
    }
}
